@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');

body {
  font-family: 'Work Sans', sans-serif;
}

.hero-banner {
  height: 100vh;
  overflow: hidden;
}

.home-page .hero-banner h1 {
  padding-top: 100px !important;
}

.navbar-light {
  background-color: rgb(105, 38, 48);
}

.navbar-light .navbar-nav .nav-link{
transition: all 0.5s ease;
    font-weight: 600;
    color: #fff;
    font-size: 14px;
    border-bottom: 3px solid transparent;
    padding: 15px;
  }